@tailwind base;
@tailwind components;
@tailwind utilities;

/*Font Face Project*/
@font-face {
    font-family: 'DM Regular';
    font-style: normal;
    font-weight: normal;
    src:  url('/font/dmsans/DMSans-Regular.woff') format('woff');
}
@font-face {
    font-family: 'DM Sans Regular';
    font-style: normal;
    font-weight: normal;
    src:  url('/font/dmsans/DMSans-Regular.woff') format('woff');
}
@font-face {
    font-family: 'DM Italic';
    font-style: normal;
    font-weight: normal;
    src:  url('/font/dmsans/DMSans-Italic.woff') format('woff');
}
@font-face {
    font-family: 'DM Medium';
    font-style: normal;
    font-weight: normal;
    src: local('DM Sans Medium'), url('/font/dmsans/DMSans-Medium.woff') format('woff');
}
@font-face {
    font-family: 'DM Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: , url('/font/dmsans/DMSans-MediumItalic.woff') format('woff');
}
@font-face {
    font-family: 'DM Bold';
    font-style: normal;
    font-weight: normal;
    src:  url('/font/dmsans/DMSans-Bold.woff') format('woff');
}
@font-face {
    font-family: 'DM Bold Italic';
    font-style: normal;
    font-weight: normal;
    src:  url('/font/dmsans/DMSans-BoldItalic.woff') format('woff');
}
/******/
body{
    font-family: "DM Medium", sans-serif;
    background: #010725;
}
.img{
    position: absolute;
    width: 728px;
    height: 728px;
    top: -135px;
    left: -135px;
    opacity: .5;
    z-index: inherit;
}
.nav_btn{
    @apply  text-center bg-[#0328EE] text-white font-bold tracking-tighter rounded-full;

}
.v{

}